*{
    box-sizing: border-box;
}
body{
    background-image: url(../img/1614424086_36-p-temnii-fon-dlya-intro-45\ \(1\).jpg);
}
button{
    border: solid black 2px;
    border-radius: 10px;
    background: grey;
    padding: 10px;
    margin: 10px;
    color: white;
}
h1{
    font-style: italic;
    color: white;
}
p{
   font-style: italic; 
   color: white;
}
select{
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
    margin: 10px;
}